* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy Light", sans-serif;
  color: whitesmoke;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

/* Navbar Items */
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
}

#nav a {
  text-decoration: none;
}

#part2 {
    display: flex;
    gap: 50px;
}
.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px; /* Adjust spacing between icons */
}

.social-item {
  display: inline-block;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: background 0.3s, color 0.3s;
  text-decoration: none;
}

.social-link:hover {
  background: royalblue; 
  color: #fff;
}

.social-link i {
  font-size: 20px; 
}

svg{
  width: 1000px;
  height: 200px;
  /* background-color: red; */
}